.navbar{
  padding: .8rem;
}

.navbar-nav li{
  padding-right: 20px;

}
.nav-link{
  font-size: 1.1em !important;

}
.carousel-inner img {
  width: 100%;
  height: 100%;

}

.carousel-inner img{
  width: 100%;
  height: 100%;
}
.carousel-caption h1 {
  font-size: 300%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;;

}


  
.fun{
	width: 10%;
  margin-bottom: 5rem;
  margin-left: 45.4%;
  
} 
.gif{
	max-width:80%;
}


  
